%h4 Здравствуйте, #{@gift.recipient_name}!

%p
  Ваш друг #{@gift.user_name} дарит Вам уникальную возможность приобрести карту всероссийской дисконтной системы
  #{link_to t(:give_gift_gold_link_title), 'http://www.seredina.ru'} по необыкновенно низкой цене – всего за 250 рублей!

%p
  Чтобы оформить покупку, пройдите по этой ссылке: #{link_to 'link_to_seredina', 'link_to_seredina'}

%p
  Хотите быстро и легко находить заведения, предоставляющие скидки держателям карт «Золотая середина»?
  Хотите подарить скидку на приобретение карты «Золотая середина» своим друзьям?
  Воспользуйтесь #{link_to t(:give_gift_use_link_title), root_url}!

  Ваш код для входа:
  %b #{@gift.recipient.temporary_password_accessor}

%p
	С уважением,
	%br
	«Золотая середина» и tulp.ru