.b-form_discount
  .b-form_discount_wrap
    .b-form_discount_top
      %a{ :href => '#'}
    .b-form_discount_middle
      %h1.b-form_discount_middle_title Текст текст текст
      %img.b-form_discount_middle_logo{ :src => image_path('gm_logo_discount.png') }
      %span.b-form_discount_middle_msg Текст текст текст Текст текст текст Текст текст текст Текст текст текст
      .b-discount_form
        = form_for @user, :url => user_path do |f|
          %span Ваше имя:
          = f.text_field :name
          %span Ваш email:
          = f.text_field :email
          %span Ваш телефон:
          = f.text_field :phone
          = image_submit_tag 'send_dicount_button.png', :class => 'b-discount_form_send'
    .b-form_discount_bottom