#yandex_maps

.b-sidebar
  .b-sidebar-top
  .b-sidebar-middle
    %img.b-sidebar-middle-logo{ :src => image_path('golden.png') }
    %h1 Показывать:
    .b-categories
      %ul
        %li
          %img.b-categories-icon{ :src => 'images/icon_infinity.png' }
          %span.b-categories-span Все категории
          %img.b-categories-arrow{ :src => image_path('list_arrow.png') }
        %li
        %li
    .b-market
      .b-tabs
        %ul.b-tabs-menu
          %li
            %a.b-tabs-active{ :href => '#', :id => 'info_tab' }
              %span.b-tabs-menu-right
              %span.b-tabs-menu-left
                %span.b-tabs-menu-text
                  Информация
          %li
            %a.b-tabs-inactive{ :href => '#', :id => 'reviews_tab' }
              %span.b-tabs-menu-right
              %span.b-tabs-menu-left
                %span.b-tabs-menu-text Отзывы
          %li
            %a.b-tabs-inactive{ :href => '#', :id => 'add_review_tab' }
              %span.b-tabs-menu-right
              %span.b-tabs-menu-left
                %span.b-tabs-menu-text Добавить отзыв
      .b-sidebar-middle-description
      .b-sidebar-middle-info
      .b-sidebar-middle-reviews
        .b-reviews
        .b-button{ :id => 'add_review' }
          %span.b-button-left
          %span.b-button-right
            %span.b-button-text Добавить отзыв
      .b-sidebar-middle-add_review
        = form_for :review, :remote => true, :url => reviews_path, :html => { :id => 'review_form', :class => 'b-sidebar-add_review' } do |f|
          = f.hidden_field :market_id
          %span.b-sidebar-middle-add_review-headers Дайте оценку заведению:
          = f.select :rating, options_for_select(0..5, 3)
          %span Что вы думаете:
          %label
            = f.text_area :text
        .b-button{ :id => 'add_review_submit' }
          %span.b-button-left
          %span.b-button-right
            %span.b-button-text Сохранить
  .b-sidebar-bottom
    = link_to image_tag('tulp_logo_small.png'), 'http://tulp.ru'

/ Templates
%script.b-sidebar-middle-description-template{ :type => 'text/x-jquery-tmpl' }
  %img{ :src => '${$item.imgSrc}' }
  %h2 ${title}
  %p.b-sidebar-middle-adress ${address}
  %span.b-stars
    {{html $item.rating}}

%script.b-sidebar-middle-info-template{ :type => 'text/x-jquery-tmpl' }
  {{if time}}
  %h3 Режим работы
  %p ${time}
  {{/if}}
  %h3 Скидка
  %p
    %strong 10%
    на все услуги и товары, скидка на услуги кузовного цеха и заказ  запчастей по договоренности.
    %strong 20%
    на мойку.
  {{if phones || emails || website}}
  .b-details
    .b-details-left
    .b-details-right
      %span.b-details-text Информация
      -#.b-details-arrow-open
  {{if phones}}
  %p.b-details-phone
    Тел.:
    %ul.b-details-phone-number
      {{each phones}}
      %li ${$value}
      {{/each}}
  {{/if}}
  {{if emails}}
  %p.b-details-emails
    Email:
    %ul.b-details-email-addresses
      {{each emails}}
      %li
        %a{ :href => 'mailto:${$value}' } ${$value}
      {{/each}}
  {{/if}}
  {{if website}}
  %p.b-details-site
    Сайт:
    %ul.b-details-phone-number
      %li
        %a{ :href => '${website}' } ${website}
  {{/if}}
  {{/if}}
  {{if description}}
  .b-details
    .b-details-left
    .b-details-right
      %span.b-details-text Описание
      -#.b-details-arrow-closed
  %p.b-details-description ${description}
  {{/if}}

%script.b-sidebar-middle-reviews-template{ :type => 'text/x-jquery-tmpl' }
  {{each reviews}}
  .b-review
    %span.b-review-email ${$value.user.email}
    %span.b-stars
      {{html $value.rating}}
    %p.b-review-text ${$value.text}
  {{/each }}