#yandex_maps

#market_information

%script#market_information_template{ :type => 'text/x-jquery-tmpl' }
  %div
    %dl
      %dt Title
      %dd ${title}
      %dt Discount
      %dd ${discount}
      %dt Time
      %dd ${time}
      %dt Phone
      %dd ${phone}
      %dt Website
      %dd ${website}
      %dt Email
      %dd ${email}
  %div
    %dl
      %dt Add review
      %dd
        = form_for :review, :remote => true, :url => reviews_path, :html => { :class => 'review_form' } do |f|
          = f.hidden_field :market_id, :value => '${id}'
          = f.text_area    :text
          = f.submit 'Put into locale'
  %div
    %ul
      {{each(i, review) reviews}}
      %li
        Text
        ${review.text}
      %li
        Rating
        ${review.rating}
      {{/each }}

#category_selector
  %ul
    %li
      %a.category_link{ :href => '#' }<
        %div= t :all_categories

#overlay
  #buzz
    #dialog
      #window_top
      #window_middle
        #title
          %h2= t :dialog_title
          = image_tag 'gold.png'
        #description
          = t :dialog_description
        #form
          = t :dialog_form
          = form_for :user, :remote => true, :url => users_path, :html => { :id => 'dialog_form' } do |f|
            = f.email_field :email, :placeholder => t(:dialog_placeholder)
            = image_submit_tag 'button.png', :id => 'dialog_submit_button'
      #window_bottom
  #arrow