= stylesheet_link_tag    'app/master.css', 'app/home/index.css'

- unless user_signed_in?
  #overlay
    #buzz
      .action
      #dialog
        #window_top
        #window_middle
          #title
            %h2= t :dialog_title
            = image_tag 'gold.png'
          #description
            = t :dialog_description
          .select_cart
            %form{ :name => 'select', :method => 'post'}
              %h3
                Выберите ваш вид карты:
              .classic
                %input{ :type => 'radio', :name => 'cart', :value => 'Classic'}Классическая
              .vip
                %input{ :type => 'radio', :name => 'cart', :value => 'Vip'}VIP
          #sign_up_form
            %span 
              = t :dialog_form
            = form_for :user, :url => user_registration_path, :remote => true, :html => { :id => 'dialog_form' } do |f|
              = f.email_field :email, :placeholder => t(:dialog_placeholder)
              = image_submit_tag 'button.png', :id => 'dialog_submit_button'
          .password_form
            %span
              Введите ваш код доступа (присланный вам на email):
            %form{ :method => 'post' }
              %input.password_field{ :type => 'password', :size => '30'}
              %input.to_map{ :type => 'image', :src => '/images/button.png'}
        #window_bottom
          #arrow

.gift
  = form_for :gift, :url => gifts_path, :remote => true, :html => { :id => 'gift_form' } do |f|
    = f.email_field :recipient
    = f.submit "Put into locale"