#yandex_maps

#market_information

%script#market_information_template{ :type => 'text/x-jquery-tmpl' }
  %div
    %dl
      %dt Title
      %dd ${title}
      %dt Discount
      %dd ${discount}
      %dt Time
      %dd ${time}
      %dt Phone
      %dd ${phone}
      %dt Website
      %dd ${website}
      %dt Email
      %dd ${email}
  %div
    %dl
      %dt Add review
      %dd
        = form_for :review, :remote => true, :url => reviews_path, :html => { :id => 'review_form' } do |f|
          = f.hidden_field :market_id, :value => '${id}'
          = f.text_area    :text
          = f.submit 'Put into locale'
  %div
    %ul
      {{each(i, review) reviews}}
      %li
        Text
        ${review.text}
      %li
        Rating
        ${review.rating}
      {{/each }}

#category_selector
  %ul
    %li
      %a.category_link{ :href => '#' }<
        %div= t :all_categories

- unless user_signed_in?
  #overlay
    #buzz
      #dialog
        #window_top
        #window_middle
          #title
            %h2= t :dialog_title
            = image_tag 'gold.png'
          #description
            = t :dialog_description
          #sign_up_form
            = t :dialog_form
            = form_for :user, :url => user_registration_path, :remote => true, :html => { :id => 'dialog_form' } do |f|
              = f.email_field :email, :placeholder => t(:dialog_placeholder)
              = image_submit_tag 'button.png', :id => 'dialog_submit_button'
        #window_bottom

        %div
          = form_for :user, :url => user_session_path, :remote => true, :html => { :id => 'sign_in_form' } do |f|
            = f.email_field :email, :id => 'sign_in_user_email'
            = f.password_field :password
            = f.submit "Put into locale"
    #arrow