:javascript
  var jsonMarketsPath     = "#{json_markets_path}";
  var jsonUsersPath       = "#{json_users_path}";
  var jsonCategoriesPath  = "#{json_categories_path}";
  var jsonCurrentUserPath = "#{json_current_user_path}";

#yandex_maps

- unless user_signed_in?
  #overlay
    #buzz
      .action
      #dialog
        #window_top
        #window_middle
          #title
            %h2= t :dialog_title
            = image_tag 'gold.png'
          #description
            = raw t :dialog_description,
                    :gold_link => link_to(t(:gold_link_title), 'http://seredina.ru', :target => 'blank'),
                    :tulp_link => link_to(t(:tulp_link_title), 'http://tulp.ru',     :target => 'blank')
          .select_cart
            %form{ :name => 'select', :method => 'post'}
              %h3
                Выберите ваш вид карты:
              .classic
                %input{ :type => 'radio', :name => 'cart', :value => 'Classic'}Классическая
              .vip
                %input{ :type => 'radio', :name => 'cart', :value => 'Vip'}VIP
          .sign_up_form
            %span= t :sign_up_form_invitation_text
            = form_for :user, :url => user_registration_path, :remote => true, :html => { :id => 'sign_up_form' } do |f|
              = f.text_field :email, :placeholder => t(:sign_up_form_email_placeholder), :id => 'sign_up_user_email'
              = image_submit_tag 'button.png', :class => 'sign_up_form_submit_button'
          .sign_in_form
            %span= t :sign_in_form_invitation_text
            = form_for :user, :url => user_session_path, :remote => true, :html => { :id => 'sign_in_form' } do |f|
              = f.hidden_field :email, :id => 'sign_in_user_email'
              = f.password_field :password, :class => 'password_field'
              = image_submit_tag 'button.png', :class => 'to_map'
        #window_bottom
          #arrow

.b-sidebar
  .b-sidebar-top
  .b-sidebar-middle
    %img.b-sidebar-middle-logo{ :src => image_path('golden.png') }
    %h1 Показывать:
    .b-categories
    .b-market
      .b-tabs
        %ul.b-tabs-menu
          %li
            %a.b-tabs-active{ :href => '#', :id => 'info_tab' }
              %span.b-tabs-menu-right
              %span.b-tabs-menu-left
                %span.b-tabs-menu-text
                  Информация
          %li
            %a.b-tabs-inactive{ :href => '#', :id => 'reviews_tab' }
              %span.b-tabs-menu-right
              %span.b-tabs-menu-left
                %span.b-tabs-menu-text Отзывы
          %li
            %a.b-tabs-inactive{ :href => '#', :id => 'add_review_tab' }
              %span.b-tabs-menu-right
              %span.b-tabs-menu-left
                %span.b-tabs-menu-text Добавить отзыв
      .b-sidebar-middle-description
      .b-sidebar-middle-info
      .b-sidebar-middle-reviews
        .b-reviews
        .b-button{ :id => 'add_review' }
          %span.b-button-left
          %span.b-button-right
            %span.b-button-text Добавить отзыв
      .b-sidebar-middle-add_review
        = form_for :review, :remote => true, :url => reviews_path, :html => { :id => 'review_form', :class => 'b-sidebar-add_review' } do |f|
          = f.hidden_field :market_id
          %span.b-sidebar-middle-add_review-headers Дайте оценку заведению:
          :plain
            <select id="review_rating" name="review[rating]" selected="3">
              <option value="5">отлично</option>
              <option value="4">хорошо</option>
              <option value="3" selected>нормально</option>
              <option value="2">плохо</option>
              <option value="1">ужасно</option>
              </select>
          -#= f.select :rating, options_for_select([["ужасно",1],["плохо",2],["нормально",3],["хорошо",4],["отлично",5]]), {}, {:selected => "нормально"}
          %span Опишите ваш опыт:
          %label
            = f.text_area :text
        .b-button{ :id => 'review_form_submit_button' }
          %span.b-button-left
          %span.b-button-right
            %span.b-button-text Сохранить
  .b-sidebar-bottom
    = link_to image_tag('tulp_logo_small.png'), 'http://tulp.ru', :target => 'blank'

.b-notification-label

.b-form_discount
  .b-form_discount_wrap
    .b-form_discount_top
      %a{ :href => '#'}
    .b-form_discount_middle
      %h1.b-form_discount_middle_title Поздравляем, вы разместили 3 отзыва!
      %img.b-form_discount_middle_logo{ :src => image_path('gm_logo_discount.png') }
      %span.b-form_discount_middle_msg Укажите email вашего друга - и он сможет приобрести карту "Золотая середина" всего за 250 рублей!
      .b-discount_form
        = form_for :gift, :url => gifts_path, :remote => true, :html => { :id => 'gift_form' } do |f|
          %span Введите адрес, на который будет отправлена скидка:
          = text_field_tag :recipient_email, nil, :placeholder => 'Адрес электронной почты'
          %span Имя друга:
          = f.text_field :recipient_name
          %span Ваше имя:
          = f.text_field :user_name
          = image_submit_tag 'send_dicount_button.png', :class => 'b-discount_form_send'
    .b-form_discount_bottom

/ Templates
%script.b-categories-template{ :type => 'text/x-jquery-tmpl' }
  %ul
    %li
      %img.b-categories-icon{ :src => '${activeCategory.icon_image}' }
      %span.b-categories-span ${activeCategory.title}
      %img.b-categories-arrow{ :src => image_path('list_arrow.png') }
    {{each inactiveCategories}}
    %li
      %img.b-categories-icon{ :src => '${$value.icon_image}' }
      %span.b-categories-span ${$value.title}
    {{/each}}

%script.b-sidebar-middle-description-template{ :type => 'text/x-jquery-tmpl' }
  %p.b-sidebar-middle-subcategory ${subcategory}
  %img{ :src => '${category.icon_image}' }
  %span.b-stars
    {{html $item.rating}}
  .b-sidebar-middle-description-wrap
    %h2 ${title}
    %p.b-sidebar-middle-adress ${address}

%script.b-sidebar-middle-info-template{ :type => 'text/x-jquery-tmpl' }
  {{if time}}
  %h3 Режим работы
  %p ${time}
  {{/if}}
  %h3 Скидка
  {{if classic}}
  %p.b-kind
    %span.b-kind-title Classic:
    %span.b-kind-text ${classic}
  {{/if}}
  {{if vip}}
  %p.b-kind
    %span.b-kind-title VIP:
    %span.b-kind-text ${vip}
  {{/if}}
  {{if phones || emails || websites}}
  .b-details
    .b-details-left
    .b-details-right
      %span.b-details-text Информация
      -#.b-details-arrow-open
  {{if phones}}
  %p.b-details-phones
    Тел.:
    %ul.b-details-phone-numbers
      {{each phones}}
      %li ${$value}
      {{/each}}
  {{/if}}
  {{if emails}}
  %p.b-details-emails
    Email:
    %ul.b-details-email-addresses
      {{each emails}}
      %li
        %a{ :href => 'mailto:${$value}' } ${$value}
      {{/each}}
  {{/if}}
  {{if websites}}
  %p.b-details-websites
    Сайт:
    %ul.b-details-website-addresses
      {{each websites}}
      %li
        %a{ :href => 'http://${$value}', :target => 'blank' } ${$value}
      {{/each}}
  {{/if}}
  {{/if}}
  {{if description}}
  .b-details
    .b-details-left
    .b-details-right
      %span.b-details-text Описание
      -#.b-details-arrow-closed
  %p.b-details-description ${description}
  {{/if}}

%script.b-sidebar-middle-reviews-template{ :type => 'text/x-jquery-tmpl' }
  {{each reviews}}
  .b-review
    %span.b-review-email ${$value.user.email}
    %span.b-stars
      {{html $value.rating}}
    %p.b-review-text ${$value.text}
  {{/each }}