- content_for :head do
  = stylesheet_link_tag    'app/home/index', 'lib/jquery-placeholder-plugin', 'app/yandex_maps'
  = javascript_include_tag 'app/home/index', 'snippets/yandex_maps', 'snippets/email_validator', 'snippets/cookies',
                           'lib/jquery-placeholder-plugin', 'lib/vibrate', 'lib/jquery.tmpl.min'

#yandex_maps

#market_information

#market_information_template
  %p
    %h1 ==Title
    ${title}
  %p
    %h1 ==Discount
    ${discount}
  %p
    %h1 ==Time
    ${time}
  %p
    %h1 ==Phone
    ${phone}
  %p
    %h1 ==Website
    ${website}
  %p
    %h1 ==Email
    ${email}
  %p
    %h1 ==ОТЗЫВЫ
    {{each(i, review) reviews}}
    %p
      Текст
      ${review.text}
    %p
      Рейтинг
      ${review.rating}
    {{/each }}


#category_selector
  %ul
    %li
      %a.category_link{ :href => '#' }<
        %div= t :all_categories

#overlay
  #buzz
    #dialog
      #window_top
      #window_middle
        #title
          %h2= t :dialog_title
          = image_tag 'gold.png'
        #description
          = t :dialog_description
        #form
          = t :dialog_form
          = form_for :user, :url => users_path, :html => { :id => 'dialog_form' } do |f|
            = f.email_field :email, :placeholder => t(:dialog_placeholder)
            = image_submit_tag 'button.png', :id => 'dialog_submit_button'
      #window_bottom
  #arrow