- content_for :head do
  :javascript
    var userSendNewPasswordPath = "#{user_send_new_password_path}";

.overlay
  .buzz
    .action
    .landing
      .window_top
      .window_middle
        .title
          %h2= t :landing_title
          = image_tag 'gold.png'
        .description
          = raw t :landing_description
        .landing_form
          = form_for :user, :url => user_session_path, :remote => true, :html => { :id => 'landing_form' } do |f|
            .landing_form_email
              %span= t :landing_email_invitation_text
              = f.text_field :email, :placeholder => t(:landing_email_placeholder), :class => 'user_email'
            .landing_form_password
              %span= t :landing_password_invitation_text
              = f.password_field :password, :class => 'password_field', :disabled => true
              %input.new-password{ :type => 'button', :value => t(:landing_new_password) }
              = link_to t(:landing_enter_another_email), '#', :class => 'enter_another_email'
            = image_submit_tag 'button.png', :class => 'to_map'
      .window_bottom
        .arrow