!!! 5
%html
  %head
    = csrf_meta_tag
    = include_stylesheets :common
    %title= t :application_title

  %body
    #yandex_maps
    = yield

  %bottom
    = javascript_include_tag "http://api-maps.yandex.ru/1.1/index.xml?key=#{YANDEX_MAPS_API_KEY}"
    = include_javascripts :common