!!! 5
%html
  %head
    %title= t :title
    = csrf_meta_tag
    = stylesheet_link_tag    'app/application.css', 'app/reset.css'
    = javascript_include_tag "http://api-maps.yandex.ru/1.1/index.xml?key=#{YANDEX_MAPS_API_KEY}", 'initializer', 'app/application'
    = yield :head

  %body
    - if flash[:notice]
      #flash= flash[:notice]
    = yield