!!! 5
%html
  %head
    %title 'CHANGE ME'
    = csrf_meta_tag
    = stylesheet_link_tag 'app/application.css'
    = javascript_include_tag "http://api-maps.yandex.ru/1.1/index.xml?key=#{YANDEX_MAPS_API_KEY}"
    = yield :head

  %body= yield