!!! 5
%html
  %head
    = csrf_meta_tag
    = include_stylesheets :common
    %title= t :application_title

    :javascript
      var rootPath        = "#{root_path}";
      var jsonLandingPath = "#{json_landing_path}";

  %body
    #yandex_maps

    .b-sidebar
      .b-sidebar-top
      .b-sidebar-middle
        %img.b-sidebar-middle-logo{ :src => image_path('golden.png') }
        %h1= t :landing_categories_title
        .b-categories
          %ul
            %li
              %img.b-categories-icon{ :src => image_path('categories/all.png') }
              %span.b-categories-span= t :landing_categories_active
              %img.b-categories-arrow{ :src => image_path('list_arrow.png') }
      .b-sidebar-bottom
        = image_tag('tulp_logo_small.png')

    = yield

  %bottom
    = javascript_include_tag "http://api-maps.yandex.ru/1.1/index.xml?key=#{YANDEX_MAPS_API_KEY}"
    = include_javascripts :landing
    / Yandex.Metrika counter
    %div{:style => "display:none;"}
      :javascript
        (function(w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter5258377 = new Ya.Metrika(5258377);
                     yaCounter5258377.clickmap(true);
                     yaCounter5258377.trackLinks(true);

                } catch(e) { }
            });
        })(window, 'yandex_metrika_callbacks');
    %script{:defer => "defer", :src => "//mc.yandex.ru/metrika/watch.js", :type => "text/javascript"}
    %noscript
      %div
        %img{:alt => "", :src => "//mc.yandex.ru/watch/5258377", :style => "position:absolute; left:-9999px;"}
